@font-face {
	font-family: 'Bluu';
	src: url('../../assets/fonts/BluuNext-Titling.otf');
	font-weight: 500;
}

@font-face {
	font-family: 'Bluu';
	src: url('../../assets/fonts/BluuNext-Bold.otf');
	font-weight: 700;
}

@font-face {
	font-family: 'Median';
	src: url('../../assets/fonts/MedianGrotesk-Regular.otf');
	font-weight: 500;
}

body {
	font-family: 'Median', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-bold leading-tight mt-0 mb-6;
}

.page-title {
	@apply text-5xl;
}

.content {
	p {
		@apply mb-8;

		&:first-child {
			@apply border-b border-gray-200 text-2xl pb-10 mb-10 font-light leading-snug text-gray-600;

			@screen md {
                @apply text-3xl;
            }
		}
    }
}

.page-title, h2.fake-h1 {
  @apply leading-none;
  font-family: 'Bluu';
  font-weight: 700;

  & > span {
    background-image: linear-gradient(to bottom, #EEF60B 0%, #EEF60B 100%);
    background-position: 0 0.85em;
    background-repeat: repeat-x;
    background-size: 2px 32px;
    display: inline;
    /* padding-left: 14px; */
  }
}

.page-title-wrapper {
  /* transform: translateY(-55px); */
}

p {
  @apply tracking-wide leading-tight;
}

h3 {
  @apply text-3xl leading-tight uppercase mb-4 tracking-wider font-medium;
}

h2 {
  @apply text-5xl mb-8;
  font-family: 'Bluu';
  font-weight: 700;

  & > span {
    background-position: 0 0.8em;
    background-repeat: repeat-x;
    background-size: 2px 14px;
    display: inline;
    padding-left: 14px;
  }

  & > span.yellow {
    background-image: linear-gradient(to bottom, #EEF60B 0%, #EEF60B 100%);
  }

  & > span.red {
    background-image: linear-gradient(to bottom, #ED116C 0%, #ED116C 100%);
	}
	
	
}

.read-on-link {
    background-image: linear-gradient(to bottom, #ED116C 0%, #ED116C 100%);
    background-position: 0 0.8em;
    background-repeat: repeat-x;
    background-size: 2px 12px;
    display: inline;
    padding: 0 6px;

     &:hover {
        background-position: 0 0;
        background-size: 2px 24px;
    }
}